<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
        <style>
        .hack{
            border: double;
            border-radius: 0%;
            background-size:contain;
            padding: 10%;
            margin: 10%;
            background-color: rgb(236, 227, 98);
        }
        </style>
    </head>
    <body>
    <center>
        <div class="hack">
            <h1>ADD POST</h1>
        <form method="POST">
            <label for="">title:</label>
            <input name="title" type="text"><br>
            <label for="">content:</label>
            <input name="content" type="text"><br>
            <label for="">slug:</label>
            <input name="slug" type="text"><br>
            <button>submit</button>
        </form>
    </div>
    </center>
    </body>
</html>