<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
        <style>
        .reg{
            border: double;
            border-radius: 0%;
            background-size:contain;
            padding: 10%;
            margin: 10%;
            background-color: rgb(236, 227, 98);
        }
        </style>
    </head>
    <body><center>
        <h1>Register</h1>
        <div class="reg">
            <form method="POST"
            <label for="">username:</label>
            <input type="text" name="username">
            <label for="">mobile:</label>
            <input type="text" name="mobile">
            <label for="">email:</label>
            <input type="text" name="email">
            <label for="">address:</label>
            <input type="text" name="address">
            <label for="">password:</label> 
            <input type="text" name="password">
            <button>submit</button>              
        </form>
        </div>
        </center>
    </body>
</html>